html {
    font-family: Roboto;
}
.box {
    display: flex;
    justify-content: center;
}
.container {
    
    max-width: 1080px;
    min-width: 750px;
    background-color: #e2e8f0;

  
    
    display: grid;
    grid-template-rows: minmax(1fr, 200px) 5fr;
    grid-template-columns: 1fr 4fr;
}

    .header {
        
        padding: 15px;
        grid-area: 1 1 / 2 3;
        background-color: white;
        display: grid;
        grid-template-rows: 1fr 1fr;
    }
        .top-header {
            grid-row: 1;
            display: grid;
            grid-template-columns: 30px 5fr 1fr 1fr 2fr;
            margin-bottom: 0px;
        }
            .search-bar {
                font-size: 15px;
                padding: 0px;
                background-color: #e2e8f0;
                border-radius: 20px;
                height: 30px;
                margin-top: -5px;
                margin-right: 20px;
            }
            .bell {
                margin-left: 20px;
            }
            .top-photo {
                margin-top: -7px;
            }

        .bottom-header {
            margin-top: - 20px;
            grid-row: 2;
            display: grid;
            grid-template-columns: 1fr 5fr 1fr 1fr 1fr;
        }
            .name {
                margin-left: 20px;
            }
            .morgan {
                margin-top: -12px;
            }
            button {
                height: 30px;
                width: 80px;
                background-color: #0ea5e9;
                color: white;
                border-radius: 20px;
                margin: 10px;
            }
    
    .side-bar {
         padding: 15px;
         border: solid;
        grid-row: 1 / 3;
        grid-column: 1;
        background-color: #0ea5e9;
        color: #f0f9ff;
        display: grid;
        grid-template-rows: 55px 150px;
        grid-template-rows: 70px repeat(5,40px) 80px repeat(3, 40px);
    }
        .icon1 {
            grid-row: 1;
            grid-column: 1;
        }
        .dash-board {
            font-size: 20px;
            grid-row: 1;
            grid-column: 2;
            margin-top: 6px;
        }
        .icon {
            margin-left: 8px;
        }

    .main-page {
        grid-column: 2;
        grid-row: 2;
        
        display: grid;
        grid-template-columns: 5fr 2fr;
        grid-template-rows: 50px minmax(1000px, 1fr);
        grid-auto-rows: 1fr;
        background-color: #e2e8f0;
    }
        .title-proj {
            grid-column: 1 ;
        }
        .announc {
            grid-column: 2;
            grid-row: 1; 
            padding-left: 15px;  
        }
        .projects {
            grid-row: 2 / 3;
            
            gap: 15px;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            min-height: 200px;
            max-height: 300px;
        }
        /* .right-side-bar {
            border: solid;
            grid-row: 2;
            grid-column: 2;
            display: grid;
            grid-template-rows: minmax(400px, 1fr) 50px 1fr;
            grid-template-columns: 1fr;
        }
            .top-right {
                grid-row: 1 / 2;
                background-color: white;
                border-radius: 20px;
                display: grid;
                grid-template-rows: repeat(3, 1fr);
            }
            .trending {
                grid-row: 2 / 3;
            }
            .bottom-right {
                grid-row: 3 / 4;
            }
        */
        .right-side-bar {
            grid-row: 2 / 3;

            background-color: #e2e8f0;
            font-size: 14px;
        
            grid-row: 2;
            grid-column: 2;
            display: grid;
            grid-template-rows: 1fr 50px 1fr;
            grid-template-columns: 1fr;
        }
        
        .top-right {
            margin: 0 15px;
            padding: 0 15px;
            background-color: white;
            border-radius: 20px;
            display: grid;
            grid-template-rows: repeat(3, 150px);
            /*padding: 10px; /* Add some padding to separate content from edges */
        }
        
        .trending {
            padding: 10px; /* Add padding */
        }
        
        .bottom-right {
            background-color: white; /* Set the background color for the bottom-right section */
            margin: 15px;
            padding: 15px; /* Add padding */
            border-radius: 20px;
        }
        
        /* Use grid-row to span multiple rows */
        .h5-first-announcement {
            grid-row: 1 / 2; /* Span from row 1 to row 2 */
            margin: 5px; /* Add margin for spacing */
        }
        .first-announcement > p, .second-announcement > p, .third-announcement > p  {
            margin-top: -20px;
            margin-bottom: 0px;
        }
        

.icons {
     margin-top: 0px; 
    margin-left: auto;
    margin-right: 20px;
    display: flex;
    gap: 15px;    
}

.project {
    border-radius: 20px;
    background-color: white;
    padding: 20px;
    border-left-color: yellow;
    
}
h4 {
    margin-bottom: -15px;
}

.contact {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.contact>.photo {
    grid-column: 1;
}

.contact>ul {
    list-style: none;
    grid-column: 2;
}
.contact>img {
    margin-top: 10px;
}



.proj-1,
.proj-2,
.proj-3,
.proj-4,
.proj-5,
.proj-6 {
    border: solid;
    display: grid;
    grid-template-rows: 1fr 50px;
}




.first-announcement {
    grid-row: 1;
}
.second-announcement {
    grid-row: 2;
    margin-top: -10px;
}
.third-announcement {
    grid-row: 3;
}
/* h5 {
    margin: 5px;
}
.first-announcement {
    margin-top: -65px;
    margin-bottom: -30px;
}
*/
hr {
    
    border: none; 
    border-top: 2px solid #000; 
    margin: 20px 0 ;
}
